*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.container{
  margin-right:24%;
  margin-left: 24%;
}
body,html{
  /*font-family: 'Inter','sans-serif'*/
  font-style: 'Inconsolata','monospace';
  overflow-x:hidden;
}

.dark{
  background-color: #050505;
}

/*mobile*/
@media  (max-width: 600px) {
  .container{
    margin-right:5%;
    margin-left: 5%;
  }

}

/*tablet*/

@media (min-width: 601px) and (max-width: 1023px) {
  .container{
    margin-right:5%;
    margin-left: 5%;
  }


  
}